[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/shaderc"]
	path = dependencies/shaderc
	url = https://github.com/google/shaderc.git
[submodule "dependencies/spirv-cross"]
	path = dependencies/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/glslang"]
	path = dependencies/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "dependencies/neonLog"]
	path = dependencies/neonLog
	url = https://github.com/AlikGreen/NeonLog.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/neonCore"]
	path = dependencies/neonCore
	url = https://github.com/AlikGreen/NeonCore.git
